html {
    background-color: maroon;
}
h1 {
    color:lightgrey;
    background-color: maroon;

}
div {
    background-color: maroon;
    
}
img {
    width:300px;
    transform: rotate(90deg);
    display: block;
  margin-left: auto;
  margin-right: auto;
.trumpet{
    transform: rotate(90deg);
}
